# dependencies
/node_modules

# testing
/coverage

# local persistence
/data/preferences.json
/data/searches.json
/data/*.sqlite
/data/*.sqlite-*
/data/*.db
/data/*.db-*
/data/logs/

# production
/build

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem
